{% extends 'base.html.twig' %}

{% block body %}
    {% set totalPrice = 0 %}
    <div class="container">
    <div class="py-5 text-center">

        <h2>Checkout</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
            </h4>
            <ul class="list-group mb-3">
                {% for product in products %}
                    {% set itemPrice = 0 %}
                    {% if product.product.onDiscount %}
                        {% set itemPrice = itemPrice + (product.quantity * product.product.getDiscountedPrice) %}
                    {% else %}
                        {% set itemPrice = itemPrice + (product.quantity * product.product.price) %}
                    {% endif %}
                    {% set totalPrice = totalPrice + itemPrice %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ product.product.name }}</h6>
                        <small class="text-muted">Quantity: {{ product.quantity }}</small>
                    </div>
                    <span class="text-muted">${{ itemPrice }}</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>${{ totalPrice }}</strong>
                </li>
            </ul>
            <div class="text-center">
                {{ form_start(addressForm) }}
                <input type="submit" name="buy" value="Buy" class="btn btn-outline-success btn-lg btn-block">
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <p class="font-weight-bold">{{ user.firstName }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <p class="font-weight-bold">{{ user.lastName }}</p>
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Address</label>
                <div class="row justify-content-left">
                    <div class="col-6">
                        {{ form_row(addressForm.city, {value: user.address.city}) }}
                        {{ form_row(addressForm.postalCode, {value: user.address.postalCode}) }}
                        {{ form_row(addressForm.address, {value: user.address.address}) }}
                        {{ form_end(addressForm) }}
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>
            <p>Cash on delivery</p>

            <hr class="mb-4">


        </div>
    </div>

{% endblock %}