{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="row d-flex justify-content-center">

            <div class="col-lg-9">

                <div class="card mt-4">
                    <a href="#"><img class="card-img-top"
                                     src="{{ vich_uploader_asset(product, 'pictureFile') }}"
                                     alt=""></a>
                    <div class="card-body text-center">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h4>${{ product.price }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                        <br>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                        5.0 stars
                    </div>
                    <div class="col text-center">
                    <a href="{{ path('home') }}" class="btn btn-light btn-block">Back to Shopping</a>
                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Great product !!</p>
                        <small class="text-muted">Posted by Anonymous on 10/2/20</small>
                        <hr>
                        <p>Unbelievable product for such a low price.</p>
                        <small class="text-muted">Posted by Anonymous on 10/2/20</small>
                        <hr>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}