{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Dashboard {% endblock %}

{% block content %}

    <div class="container table-responsive py-5">
    <div class="row justify-content-center">
    <div class="col-md-4 order-md-2 mb-4">
        <div class="col text-center">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.address.city) }}
            {{ form_row(registrationForm.address.postalCode) }}
            {{ form_row(registrationForm.address.address) }}
        </div>
        <br>
            <div class="col text-center">
                <input type="submit" value="Add Admin" class="btn btn-outline-success">
            </div>
    {{ form_end(registrationForm) }}
    </div>
    </div>

{% endblock content %}