{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

    <div class="text-center">
        <h3>Order Id:{{ order.id }}</h3>
        <br>
        <div class="container table-responsive py-5">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">

                <tr class="text-center">
                    <th scope="col">Ordered Products</th>
                    <th scope="col">Available</th>
                </tr>
                {% for item in order.orderproducts %}
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>{{ item }}</td>
                    <td>{{ item.product.quantity }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            {{ form_start(form) }}
            {{ form_widget(form.orderStatus) }}
            <br>
            <div class="container">
                <div class="">
                    <div class="text-center">
                        <button type="submit" name="update" value="update" class="btn btn-block btn-primary">Update Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}